main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f28ab2;
}

.container {
  width: 90vw;
  max-width: 450px;
  margin: 5rem 0;
  background-color: #fff;
}
